<template>
    <svg width="56" height="56" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="56" height="56" rx="13" fill="#FCFCFC" />
        <path
            d="M19.8333 24.3817C19.8333 23.4434 19.0217 22.665 18.0833 22.6667C17.1433 22.665 16.3333 23.4434 16.3333 24.3834V31.5067C16.3333 32.4467 17.1433 33.1667 18.0833 33.1667C19.0217 33.1667 19.8333 32.4484 19.8333 31.5067V24.3817ZM35 22.6667H21L21.0017 33.685C21.0017 34.69 21.8133 35.5 22.8183 35.5H23.3333V39.6317C23.3333 40.57 24.1567 41.3334 25.095 41.3334C26.035 41.3334 26.8333 40.57 26.8333 39.6317V35.5H29.1667V39.6317C29.1667 40.57 29.9933 41.3334 30.93 41.3334C31.87 41.3334 32.6667 40.57 32.6667 39.6317V35.5H33.1867C34.1867 35.5 35.0017 34.6884 35.0017 33.6834L35 22.6667ZM35 21.4967C35 18.865 33.595 17.0567 31.4433 15.8517L32.54 13.6834C32.5967 13.57 32.56 13.4267 32.4517 13.3617C32.345 13.3 32.2133 13.3417 32.155 13.4567L31.05 15.6467C29.265 14.7867 26.9167 14.6984 24.9483 15.6467L23.8417 13.455C23.785 13.3417 23.6533 13.2984 23.5467 13.36C23.44 13.425 23.4017 13.5684 23.46 13.6834L24.5567 15.8517C22.405 17.0567 21 18.8667 21 21.4967H35ZM39.6667 24.3817C39.6667 23.4434 38.8567 22.665 37.9167 22.6667C36.9783 22.665 36.1667 23.4434 36.1667 24.3834V31.5067C36.1667 32.4467 36.9767 33.1667 37.9167 33.1667C38.8567 33.1667 39.6667 32.4484 39.6667 31.5067V24.3817Z"
            fill="#1D1D1D" />
    </svg>
</template>
