<template>
    <svg width="59" height="60" viewBox="0 0 59 60" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g id="Group 3826">
            <g id="Group 3800">
                <g id="Group 3799">
                    <circle id="Ellipse 352" cx="29.5" cy="29.5127" r="28.5" fill="#4642F1" stroke="white"
                        stroke-width="2" />
                    <path id="Vector" fill-rule="evenodd" clip-rule="evenodd"
                        d="M22.8132 29.1473L26.8315 33.8176L38.5723 19.8068C39.4513 18.8601 40.8326 19.8699 40.1419 20.9428L28.5896 38.677C27.7106 39.813 26.5177 39.9392 25.5131 38.8032L19.674 31.7978C18.5439 30.1569 21.432 27.8217 22.8132 29.1471V29.1473Z"
                        fill="white" />
                </g>
            </g>
        </g>
    </svg>
</template>
