<template>
    <svg width="56" height="56" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="56" height="56" rx="8" fill="white" />
        <path
            d="M18.6672 24.6277C18.6672 23.5554 17.7396 22.6659 16.6673 22.6678C15.593 22.6659 14.6674 23.5553 14.6674 24.6296V32.7701C14.6674 33.8443 15.593 34.6672 16.6673 34.6672C17.7396 34.6672 18.6672 33.8462 18.6672 32.7701V24.6277ZM35.9996 22.6678H20.0004L20.0023 35.2595C20.0023 36.408 20.9299 37.3337 22.0784 37.3337H22.6669V42.0553C22.6669 43.1277 23.6078 44 24.6802 44C25.7544 44 26.6667 43.1277 26.6667 42.0553V37.3337H29.3333V42.0553C29.3333 43.1277 30.278 44 31.3484 44C32.4226 44 33.3331 43.1277 33.3331 42.0553V37.3337H33.9273C35.0701 37.3337 36.0015 36.4061 36.0015 35.2576L35.9996 22.6678ZM35.9996 21.3307C35.9996 18.3232 34.394 16.2567 31.935 14.8796L33.1883 12.4016C33.2531 12.2721 33.2112 12.1083 33.0874 12.034C32.9655 11.9636 32.815 12.0112 32.7483 12.1426L31.4855 14.6453C29.4456 13.6625 26.762 13.5616 24.5126 14.6453L23.2479 12.1407C23.1831 12.0112 23.0326 11.9617 22.9107 12.0321C22.7888 12.1064 22.745 12.2702 22.8117 12.4016L24.065 14.8796C21.606 16.2567 20.0004 18.3251 20.0004 21.3307H35.9996ZM41.3326 24.6277C41.3326 23.5554 40.407 22.6659 39.3327 22.6678C38.2604 22.6659 37.3328 23.5553 37.3328 24.6296V32.7701C37.3328 33.8443 38.2585 34.6672 39.3327 34.6672C40.407 34.6672 41.3326 33.8462 41.3326 32.7701V24.6277Z"
            fill="#5CE500" />
    </svg>
</template>