<template>
    <svg width="21" height="15" viewBox="0 0 21 15" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
            d="M10.592 14.2365H10.5916L10.492 14.2358L10.4083 14.2365C7.13997 14.2365 3.92668 12.2232 0.296132 7.90096C0.101322 7.66909 0.101322 7.33083 0.296132 7.09895C3.92687 2.77668 7.13997 0.763603 10.4081 0.763603L10.5081 0.764277L10.592 0.763603C13.8601 0.763603 17.0734 2.77687 20.704 7.09895C20.8988 7.33083 20.8988 7.66909 20.704 7.90096C17.0732 12.2234 13.8601 14.2365 10.5922 14.2365H10.592ZM10.4919 12.9889L10.5917 12.9896C13.3659 12.9896 16.1761 11.2425 19.4076 7.5001C16.1761 3.7578 13.3663 2.01076 10.5919 2.01076L10.508 2.01144L10.4079 2.01076C7.63368 2.01076 4.82366 3.75784 1.59216 7.5001C4.82366 11.2428 7.63349 12.9896 10.4081 12.9896L10.4919 12.9889Z"
            fill="black" />
        <path
            d="M10.5 11.4495C8.32223 11.4495 6.55066 9.67775 6.55066 7.5C6.55066 5.32209 8.32231 3.55051 10.5 3.55051C12.6779 3.55051 14.4494 5.32224 14.4494 7.5C14.4494 9.67791 12.6776 11.4495 10.5 11.4495ZM10.5 4.7975C9.00982 4.7975 7.79745 6.00987 7.79745 7.5C7.79745 8.99013 9.00982 10.2025 10.5 10.2025C11.9901 10.2025 13.2025 8.99013 13.2025 7.5C13.2025 6.00987 11.9901 4.7975 10.5 4.7975Z"
            fill="black" />
        <path
            d="M8.61532 7.91553C8.38576 7.91553 8.19971 7.72948 8.19971 7.49992C8.19971 6.23147 9.23149 5.19954 10.4999 5.19954C10.7295 5.19954 10.9155 5.38559 10.9155 5.61515C10.9155 5.84471 10.7295 6.03076 10.4999 6.03076C9.6898 6.03076 9.03087 6.68969 9.03087 7.49979C9.03087 7.72956 8.84482 7.91561 8.61526 7.91561L8.61532 7.91553Z"
            fill="black" />
    </svg>
</template>