<template>
    <svg width="56" height="56" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="56" height="56" rx="13" fill="#FCFCFC" />
        <path
            d="M33.31 13C33.6517 16.1183 30.865 19.3717 27.965 19.145C27.6067 16.4217 30.1683 13.1267 33.31 13ZM32.9283 39.6317C31.1417 39.6667 30.5683 38.5733 28.5267 38.5733C26.485 38.5733 25.8483 39.6 24.1583 39.6667C21.3 39.775 16.89 33.19 16.89 27.4483C16.89 22.1733 20.565 19.5583 23.7767 19.5117C25.4983 19.48 27.125 20.6717 28.1767 20.6717C29.2317 20.6717 31.2083 19.2383 33.285 19.45C34.1517 19.485 36.5917 19.8 38.1617 22.0917C34.0017 24.8033 34.65 30.4783 39.1117 32.565C38.2383 35.0967 35.6233 39.5833 32.9283 39.6317Z"
            fill="#1D1D1D" />
    </svg>
</template>
