<template>
<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M6.89384 5.65641C6.55215 5.31471 5.9981 5.31471 5.65641 5.65641C5.31471 5.9981 5.31471 6.55215 5.65641 6.89384L10.6062 11.8436C10.9478 12.1853 11.5019 12.1853 11.8436 11.8436C12.1853 11.5019 12.1853 10.9478 11.8436 10.6062L6.89384 5.65641Z" fill="black"/>
<path d="M6.89384 5.65641C6.55215 5.31471 5.9981 5.31471 5.65641 5.65641C5.31471 5.9981 5.31471 6.55215 5.65641 6.89384L10.6062 11.8436C10.9478 12.1853 11.5019 12.1853 11.8436 11.8436C12.1853 11.5019 12.1853 10.9478 11.8436 10.6062L6.89384 5.65641Z" fill="black"/>
<path d="M5.65641 10.6062C5.31471 10.9479 5.31471 11.5019 5.65641 11.8436C5.9981 12.1853 6.55215 12.1853 6.89384 11.8436L11.8436 6.89386C12.1853 6.55216 12.1853 5.99811 11.8436 5.65642C11.5019 5.31472 10.9478 5.31472 10.6062 5.65642L5.65641 10.6062Z" fill="black"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M8.75 0C3.91755 0 0 3.91755 0 8.75C0 13.5824 3.91755 17.5 8.75 17.5C13.5824 17.5 17.5 13.5824 17.5 8.75C17.5 3.91755 13.5824 0 8.75 0ZM1.75 8.75C1.75 4.88408 4.88408 1.75 8.75 1.75C12.6159 1.75 15.75 4.88408 15.75 8.75C15.75 12.6159 12.6159 15.75 8.75 15.75C4.88408 15.75 1.75 12.6159 1.75 8.75Z" fill="black"/>
</svg>
</template>
