<template>
    <svg width="56" height="56" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd"
            d="M28 56C43.464 56 56 43.464 56 28C56 12.536 43.464 0 28 0C12.536 0 0 12.536 0 28C0 43.464 12.536 56 28 56ZM38.6733 29.299C39.6733 28.7217 39.6733 27.2783 38.6733 26.7009L23.7887 18.1073C22.7887 17.53 21.5387 18.2516 21.5387 19.4063V36.5936C21.5387 37.7483 22.7887 38.47 23.7887 37.8927L38.6733 29.299Z"
            fill="white" />
    </svg>
</template>
