<template>
    <svg width="28" height="29" viewBox="0 0 28 29" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M12.1138 12.9866V18.8048H10.8837V14.1542H10.8496L9.51721 14.9894V13.8985L10.9576 12.9866H12.1138Z"
            fill="white" />
        <path
            d="M16.0216 18.8843C15.6201 18.8843 15.2621 18.8105 14.9478 18.6627C14.6353 18.515 14.3871 18.3114 14.2034 18.0519C14.0197 17.7925 13.9241 17.4951 13.9165 17.1599H15.1097C15.1229 17.3853 15.2176 17.568 15.3938 17.7082C15.5699 17.8483 15.7792 17.9184 16.0216 17.9184C16.2148 17.9184 16.3853 17.8758 16.533 17.7906C16.6826 17.7035 16.7991 17.5832 16.8824 17.4298C16.9676 17.2745 17.0103 17.0965 17.0103 16.8957C17.0103 16.6911 16.9667 16.5112 16.8796 16.3559C16.7943 16.2006 16.676 16.0794 16.5245 15.9923C16.3729 15.9052 16.1996 15.8607 16.0046 15.8588C15.8341 15.8588 15.6684 15.8938 15.5074 15.9639C15.3483 16.034 15.2243 16.1296 15.1353 16.2508L14.0415 16.0548L14.3171 12.9866H17.8739V13.9923H15.3313L15.1807 15.4497H15.2148C15.3171 15.3057 15.4714 15.1864 15.6779 15.0917C15.8843 14.997 16.1154 14.9497 16.371 14.9497C16.7214 14.9497 17.0339 15.0321 17.3085 15.1968C17.5832 15.3616 17.8 15.5879 17.9591 15.8758C18.1182 16.1618 18.1968 16.4913 18.1949 16.8644C18.1968 17.2565 18.1059 17.605 17.9222 17.9099C17.7404 18.2129 17.4856 18.4516 17.158 18.6258C16.8322 18.7982 16.4534 18.8843 16.0216 18.8843Z"
            fill="white" />
        <path
            d="M4.29231 3.75701C5.15769 3.04876 6.10612 2.42985 7.12385 1.94165C9.02083 1.0202 11.1531 0.497642 13.3892 0.497642C17.3354 0.497642 20.9146 2.09299 23.5038 4.66479C26.0862 7.22972 27.6923 10.7849 27.6923 14.7045C27.6923 18.6241 26.0862 22.1792 23.5038 24.7441C20.9146 27.316 17.3354 28.9113 13.3892 28.9113C10.4123 28.9113 7.62923 27.9966 5.33769 26.4288C2.97692 24.8266 1.12846 22.5299 0.0692308 19.8274C-0.117707 19.346 0.12467 18.7959 0.616183 18.6103C1.10083 18.4246 1.65464 18.6653 1.84157 19.1535C2.75541 21.4916 4.36154 23.4857 6.40388 24.8748C8.39077 26.2225 10.8 27.0202 13.3893 27.0202C16.8162 27.0202 19.9177 25.6381 22.1608 23.4101C24.397 21.1889 25.7885 18.1083 25.7885 14.7044C25.7885 11.3006 24.397 8.2199 22.1608 5.9988C19.9177 3.77076 16.8162 2.38865 13.3893 2.38865C11.437 2.38865 9.58849 2.84249 7.95464 3.63332C7.13083 4.03221 6.35538 4.52723 5.64234 5.0911L9.18003 8.60499C9.35998 8.78373 9.35998 9.08637 9.18003 9.27203C9.09 9.36146 8.96537 9.40959 8.84074 9.40959H0.477664C0.214555 9.40959 0 9.19638 0 8.94199V0.628318C0 0.36698 0.214656 0.15387 0.470769 0.15387C0.602268 0.15387 0.720017 0.208936 0.810058 0.291422L4.29237 3.75717L4.29231 3.75701Z"
            fill="white" />
    </svg>
</template>