<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link rel="icon" id="favicon" href="<%= BASE_URL %>favicon.ico" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link rel="apple-touch-icon" href="./icons/icon-72x72.png" sizes="72x72" />
    <link rel="apple-touch-icon" href="./icons/icon-96x96.png" sizes="96x96" />
    <link rel="apple-touch-icon" href="./icons/icon-128x128.png" sizes="128x128" />
    <link rel="apple-touch-icon" href="./icons/icon-144x144.png" sizes="144x144" />
    <link rel="apple-touch-icon" href="./icons/icon-152x152.png" sizes="152x152" />
    <link rel="apple-touch-icon" href="./icons/icon-192x192.png" sizes="192x192" />
    <link rel="apple-touch-icon" href="./icons/icon-384x384.png" sizes="384x384" />
    <link rel="apple-touch-icon" href="./icons/icon-512x512.png" sizes="512x512" />
    <link rel="manifest" href="./manifest.json" />
    <script src="./lottie-player.js"></script>
    <style>
      #loader {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 20;
        background-color: rgba(255, 255, 255, 1);
        display: flex;
        align-items: center;
        justify-content: center;
      }
    </style>
  </head>
  <body>
    <noscript>
      <strong
        >We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please
        enable it to continue.</strong
      >
    </noscript>
    <div id="app">
      <!-- To get rid of blank white screen, show loading indicator before Vue app is initialized -->
      <!-- This loader will be replaced by the Vue component on mounted -->
      <div id="loader">
        <lottie-player autoplay loop mode="normal" src="./loader.json" style="width: 128px"> </lottie-player>
      </div>
    </div>

    <!-- built files will be auto injected -->
  </body>
</html>
