.cursor-pointer {
    cursor: pointer !important;
}

.cursor-default {
    cursor: default !important;
}

.cursor-text {
    cursor: text !important;
}

.text-transform-0 {
    text-transform: none;
}

.mt-40 {
    margin-top: 40px;
}
.w-100 {
    width: 100%;
}
.h-100 {
    height: 100%;
}
.white-space-pre {
    white-space: pre;
}
.v-visible {
    visibility: visible;
}
.v-hidden {
    visibility: hidden;
}
.alert-bg {
    background-color: $alert-bg-color;
}
.box-shadow-none {
    box-shadow: none !important;
}
