.chat-root.channel {
  background-color: #f2f2f2;
  .chat-content {
    width: 100%;
    max-width: 700px;
    align-self: center;
    background-color: white;
    padding: 0 0;
  }

  .messageOut,
  .messageIn,
  .messageOut.from-admin,
  .messageIn.from-admin {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0 0 8px 0;
    padding: 16px 0 0 0;
    text-align: start;
    .senderAndTime {
      order: 2;
      flex: 1 1 auto;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      padding: 2px 12px 0 12px;
      .sender {
        font-size: 12 * $chat-text-size;
        font-weight: 700;
        margin: 0;
        color: #1c1c31;
        flex: 0 0 100%;
      }
      .time {
        font-size: 12 * $chat-text-size;
        margin: 0;
        color: #5f5f5f;
      }
      .status {
        font-size: 12 * $chat-text-size;
        margin: 0 0 0 10px;
        color: #5f5f5f;
      }
    }
    .avatar {
      order: 1;
      width: 40px !important;
      height: 40px !important;
      min-width: 40px !important;
      min-height: 40px !important;
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 15px;
    }
    .pin-icon {
      order: 3;
      margin-right: 15px;
    }
    .op-button {
      order: 4;
      margin-right: 15px;
    }
    .content {
      order: 5;
      flex: 0 0 100%;
      margin-top: 24px;
      .message {
        color: black !important;
        display: flex;
        flex-direction: column;
        .more-less-control__content {
          transition: height 0.3s linear;
          overflow: hidden;
        }
        .more-less-control.collapsed .more-less-control__content {
          max-height: 4 * 24 * $chat-text-size; // Four lines - font size is 16 and line height 1.5
        }
        .more-less-control__read-more, .more-less-control__read-less {
          font-family: "Inter", sans-serif;
          font-size: 16 * $chat-text-size;
          font-weight: 500;
          line-height: 20.8 * $chat-text-size;
          letter-spacing: 0.400 * $chat-text-size;
          text-align: left;
          color: #6360F0;
        }
      }
    }
    .bubble {
      width: 100%;
      max-width: 100%;
      color: black !important;
      background: none !important;
      border: none !important;
      border-radius: 0 !important;
      padding: 0 15px 0 15px;
    }
    .bubble.image-bubble, .bubble.audio-bubble {
        /* full bleed */
        padding: 0 0 0 0;
        border-radius: 0 !important;
        .v-image, video {
          border-radius: 0 !important;
        }
    }
    .quick-reaction-container {
      order: 6;
      flex: 0 0 100%;
      margin: 24px 7px 0 7px;
      padding: 0 8px 16px 8px;
      .emoji {
        font-size: 12 * $chat-text-size;
        font-weight: 500;
        color: #1c1c31;
        .v-icon {
          width: 21px;
          height: 21px;
        }
      }
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    /* Make all images 'cover' */
    .v-image__image {
        background-size: cover;
    }
  }

  .audio-player {
    color: #1c1c31 !important;
    padding: 0 8px;
    .currentColor {
      background-color: #000000 !important;
    }
    .v-icon {
      color: black !important;
    }
  }

  .poll-bubble svg {
    color: black;
  }
  .poll-answer {

    &.selected {
      font-weight: 500;
    }
  }
  .poll-check-icon {
    display: none;
  }

  .poll-percent-indicator {
    background: #EBE9E9;
    border-radius: 4px;
  }

  .messageOut.pinned,
  .messageIn.pinned,
  .messageOut.from-admin.pinned,
  .messageIn.from-admin.pinned {
    background-color: #f8f8f8;
  }


  .message-operations {
    position: absolute;
    width: fit-content;
    background-color: white;
    height: fit-content;
    border-radius: 8px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    white-space: nowrap;
  }

  /* Style file items (i.e. PDF files) */
  .thumbnail-item.file-item {
    background-color: rgba(245,245,245,1);
    border-radius: 8px;
    padding: 12px 40px 12px 76px;
    align-items: start;
    position: relative;
    font-family: Inter;
    font-size: 14 * $chat-text-size;
    font-weight: 400;
    line-height: 16.8 * $chat-text-size;
    letter-spacing: 0.4 * $chat-text-size;
    text-align: left;
    min-height: 80px;
    .file-name {
      font-weight: 700;
      display: block;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
      word-break: break-all;
      text-overflow: ellipsis;
      max-lines: 2;
      line-clamp: 2;
      -webkit-line-clamp: 2;
    }
    .v-icon {
      position: absolute;
      top: 12px;
      left: 12px;
      width: 56px;
      height: 56px;
    }
    svg {
      position: absolute;
      width: 56px;
      height: 56px;
    }
    &::after {
      content: " ";
      background: url("~@/assets/icons/ic_export.svg") no-repeat;
      background-position: 0 0; 
      position: absolute;
      right: 12px;
      height: 24px;
      width: 24px;
      margin: auto 0;
    }
    &:hover {
      opacity: 0.7;
    }
    .file-size {
      font-size: 12 * $chat-text-size;
      font-weight: 400;
      line-height: 14.4 * $chat-text-size;
    }
    & .zip {
      color: #0060e5;
    }   
  }

  .swipeable-thumbnails-view {
    margin-left: -15px;
    margin-right: -15px;
    order: 2;
    .thumbnail-item.file-item {
      margin: 15px;
      width: auto;
    }
    .indicator-container {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 12px;
      .indicator {
        width: 6px;
        height: 6px;
        border-radius: 3px;
        margin: 0 2.5px;
        background: #D9D9D9;
        &.current {
          background: #6360F0;
        }
      }

    }
  }
}
