@import "@/assets/css/main.scss";


.create-root {
  background-color: $background;
  user-select: none;

  .v-avatar {
    border: 1px solid #808080 !important;
  }

  .section {
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    border: 1px solid #808080 !important;
    position: relative;
  }

  .options {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    color: black;
    font-size: 14 * $chat-text-size;
    font-weight: bold;
    margin-left: 10px;
    [dir="rtl"] & {
      margin-left: initial;
      margin-right: 10px;
    }
    text-transform: none !important;
  }

  .room-option {
    .v-input {
      margin: 0px;
    }
  }

  .option-warning {
    background: linear-gradient(0deg, #FFF3F3, #FFF3F3), #FFFBED;
    border-radius: 8px;
    padding: 18px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    .v-icon {
      margin-right: 16px;
    }
  }


  /* Make secondary inputs (e.g. topic) */
  .v-input.v-text-field--filled.v-text-field--rounded .v-input__slot {
    background-color: #f5f5f5;
    border-radius: 4px;
  }
  
  .create-loggedin {
    text-align: center;
    button {
      min-width: 200px !important;
    }
  }

  .create-image {
    text-align: center;
    max-width: 325px;
    max-height: 257px;
    width: 100%;
    .v-icon__component {
      width: unset;
      height: unset;
    }
  }

  .create-image-small {
    text-align: center;
    max-width: 72px;
    max-height: 72px;
    width: 100%;
    .v-icon__component {
      width: unset;
      height: unset;
    }
  }

  .create-title {
    color: #000;
    letter-spacing: -0.8px;
    white-space: pre-line;
    margin-top: 50px;
    &.no-icon {
      margin-top: 122px;
    }
  }

  .create-info {
    color: #000;
    text-align: center;
    font-feature-settings: "clig" off, "liga" off;
    font-family: "Inter";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 117%; /* 18.72px */
    letter-spacing: 0.4px;
    margin: 15px 9px 40px 9px;
  }

  .create-subtitle {
    color: #000;
    text-align: center;
    font-feature-settings: "clig" off, "liga" off;
    font-family: "Inter";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 117%; /* 18.72px */
    letter-spacing: 0.4px;
    margin: 13px 20px 18px 20px;
  }

  .qr-container {
    flex-direction: column;
    align-items: stretch;

    border-radius: 18px;
    border: 1px solid #ededed;
    background: #fff;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.07);

    .col:nth-child(1) {
      border-bottom: 1px solid rgba(0, 0, 0, 0.07);
      text-align: center;
      .qr {
        width: 120px !important;
        height: 120px !important;
      }
    }
    .public-link {
      background-color: transparent;
      border: none !important;
      text-align: center;
    }
  }

  #btn-copy-room-link {
    background-color: var(--v-primary-base) !important;
  }

  .link-copied-in-place .v-btn__content {
    font-family: "Inter", sans-serif !important;
    font-size: 12px !important;
    text-transform: none !important;
    color: black;
  }

  .create-share {
    color: #161616;
    text-align: center;
    font-family: "Inter";
    font-size: 11.541px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 16.158px */
    letter-spacing: 0.34px;
    text-transform: uppercase;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    .v-image {
      flex: 0 0 14px;
      width: 14px;
      height: 10px;
      object-fit: contain;
      margin-left: 4px;
    }
  }

  .create-buttons {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: -20px;
  }

  .v-btn:not(.back-button) {
    border-radius: 24px;
    min-height: 48px !important;
    min-width: 200px !important;
  }
}
