@import './variables';
@import './utilities';
@import './mixins';

@font-face {
    font-family: "Inter";
    src: url("~@/assets/fonts/inter/Inter-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Inter";
    src: url("~@/assets/fonts/inter/Inter-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Inter";
    src: url("~@/assets/fonts/inter/Inter-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url("~@/assets/fonts/poppins/Poppins-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url("~@/assets/fonts/poppins/Poppins-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url("~@/assets/fonts/poppins/Poppins-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url("~@/assets/fonts/poppins/Poppins-ExtraBold.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
}

html { height:100%; }
body { position:absolute; top:0; bottom:0; right:0; left:0; }

.h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 36 * $chat-text-size;
    text-align: center;
    color: black;
    line-height: 108.5%;
    letter-spacing: -0.8px;
    overflow-wrap: break-word;
}

.h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 24 * $chat-text-size;
    text-align: center;
    color: black;
}

.h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 18 * $chat-text-size;
    text-align: center;
    color: #505050;
}

.h4 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 11 * $chat-text-size;
    color: black;
    text-transform: uppercase;
}

.v-btn.outlined-button {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 11 * $chat-text-size;
    color: black;
    background-color: white !important;
    border: 1px solid black;
    border-radius: $chat-standard-padding / 2;
    height: $chat-standard-padding;
    margin-top: $chat-standard-padding-xs;
    margin-bottom: $chat-standard-padding-xs;
}

.v-btn.text-button {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 11 * $chat-text-size !important;
    border: none;
    height: $chat-standard-padding;
    margin-top: $chat-standard-padding-xs;
    margin-bottom: $chat-standard-padding-xs;
}

.v-btn.filled-button {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 11 * $chat-text-size;
    color: white;
    border: none;
    border-radius: $chat-standard-padding / 2;
    height: $chat-standard-padding !important;
    min-height: $chat-standard-padding !important;
    margin-top: $chat-standard-padding-xs;
    margin-bottom: $chat-standard-padding-xs;

    .v-icon {
        height: 14px;
        width: 14px;
        margin-right: 8px;
    }
}

.v-dialog {
    border-radius: 20px !important;
    .dialog-content {
        padding: 20px;
        background-color: white;
    }
    .dialog-title {
        word-break: break-word;
        text-align: center;
        margin-bottom: 20px;
    }

    .dialog-text {
        text-align: left;
        word-break: break-word;
        a {
            color: black;
            text-decoration: underline;
        }
    }
}

.build-version {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 117%;
    text-align: center;
    letter-spacing: 0.4px;
    color: rgba(0, 0, 0, 0.6);
}
