@import "@/assets/css/main.scss";

.h3-bold {
  font-family: "Poppins";
  font-style: normal;
  font-size: 24 * $chat-text-size;
  font-weight: 700;
  line-height: 28.8 * $chat-text-size;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.paragraph {
  font-family: "Inter";
  font-size: 16 * $chat-text-size;
  font-weight: 400;
  line-height: 18.72 * $chat-text-size;
  letter-spacing: 0.40 * $chat-text-size;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(0,0,0, 0.7);
  &.paragraph-button {
    color: $very-very-purple;
  }
}

.paragraph-bold {
  font-family: "Inter";
  font-size: 16 * $chat-text-size;
  font-weight: 600;
  line-height: 18.72 * $chat-text-size;
  letter-spacing: 0.40 * $chat-text-size;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(0,0,0);
  margin-bottom: 3 * $chat-text-size;
}

.caption-1 {
  font-family: "Inter";
  font-size: 14 * $chat-text-size;
  font-weight: 400;
  line-height: 16.38 * $chat-text-size;
  letter-spacing: 0.40 * $chat-text-size;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(0,0,0,0.65);
}

.caption-1-gray {
  font-family: "Inter";
  font-size: 14 * $chat-text-size;
  font-weight: 400;
  line-height: 16.38 * $chat-text-size;
  letter-spacing: 0.40 * $chat-text-size;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(0,0,0,0.65);
}

.caption-2 {
  font-family: "Inter";
  font-size: 10 * $chat-text-size;
  font-weight: 400;
  line-height: 11.7 * $chat-text-size;
  letter-spacing: 0.40 * $chat-text-size;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(0,0,0,0.60);
}
